openapi: 3.0.3
info:
  title: Guusto Gifts Account Budget Reports API
  description: The Guusto Gifts API lets you programmatically send digital gifts, track order status, retrieve reward budgets, and pull recognition activity and manager-insight reports from the Guusto employee recognition and rewards platform. API access is available on the Guusto Premium plan. All requests are authenticated with a Bearer API token and an X-Workspace-id header. This document models Guusto's publicly documented REST surface (docs.guusto.com); request and response schemas are summarized from the published API reference and may not capture every field.
  version: '1.0'
  contact:
    name: Guusto
    url: https://guusto.com
  termsOfService: https://guusto.com/terms
servers:
- url: https://api.guusto.com/api/v1
  description: Production
- url: https://api-demo.guusto.io/api/v1
  description: Demo / Test
security:
- bearerAuth: []
tags:
- name: Reports
  description: Recognition activity and manager-insight reports.
paths:
  /reports/teams/activity:
    get:
      tags:
      - Reports
      summary: Get team activity
      description: Retrieve a paginated list of workspace recognition activities including sender, receiver, status, description, reason, and timestamps.
      operationId: getTeamActivity
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Paginated activity list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
  /reports/members/last-recognized:
    get:
      tags:
      - Reports
      summary: Get last recognized by manager
      description: Retrieve a paginated list of team members with the last time they were recognized by their managers. This manager-insight resource is rate limited.
      operationId: getLastRecognized
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Paginated last-recognized list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '429':
          description: Request limit reached for the manager-insight resource.
components:
  parameters:
    Size:
      name: size
      in: query
      required: false
      description: Page size.
      schema:
        type: integer
        default: 20
    WorkspaceId:
      name: X-Workspace-id
      in: header
      required: true
      description: The workspace the request is scoped to.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page index.
      schema:
        type: integer
        default: 0
  schemas:
    Page:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer API token issued from the Guusto workspace (Premium plan).
